/omp_web/node_modules
/ompServer/env/*
!/ompServer/env/.gitkeep
.idea/
.vscode/
__pycache__/
*/__pycache__
*.py[cod]
*$py.class
/ompServer/data/salt/*
!/ompServer/data/salt/.gitkeep
/ompServer/tmp/*
!/ompServer/tmp/textfile
!/ompServer/tmp/excefile
!/ompServer/tmp/.gitkeep
/ompServer/logs/*.log
/ompServer/logs/*
/ompServer/pid/*.pid
/ompServer/server/db.sqlite3
/ompServer/lib/libsqlite3.so.0
/ompServer/scripts/salt
/ompServer/packages/*.tar.gz
/ompServer/server/sqlite3.db
*.DS_Store
/ompServer/packages/pro_pack/*
!/ompServer/packages/pro_pack/.gitkeep
/ompServer/packages/ser_pack/*
!/ompServer/packages/ser_pack/.gitkeep
/ompServer/data/db.sqlite3
/ompServer/tengine/
/ompWeb/node_modules/
/ompServer/omp_ruban/
!/ompServer/logs/omp_ruban/*
!/ompServer/logs/omp_ruban/
/ompWeb/.eslintcache
/ompWeb/dist
/ompServer/server/clean_migrations.sh

