.header {
  padding: 10px;
  padding-left: 20px;
  background-color: #f7f7f7;
}

.content {
  padding-left: 40px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  .label {
    padding-right: 30px;
  }
}

.tips {
  margin-top: 30px;
  padding-left: 40px;
  font-size: 13px;
}

.saveButtonWrapper {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveButton {
  margin-left: 50%;
  transform: translateX(-50%);
}
