.headerLogo {
  width: 60px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  & > img:nth-child(1) {
    width: 30px;
    height: 30px;
  }
}
.trigge {
  padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}
.OmpLayoutContainer {
  color: #63656e;
  height: 100%;
  //height: 58px;
  //background-color: red;
  .siteLayoutBackground {
    border-right: solid 1px #dcdee5;
    //padding-left:20px;
    //padding-top:0px ;
  }
  .OmpHeader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px;
    color: white;
    font-size: 14px;
    white-space: nowrap;
    background-color: #1a2131;
    .headerSelect {
      width: 160px;
    }
    .headerDropDown {
      font-size: 14px;
      margin-left: 20px;
      cursor: pointer;
      padding: 7px 10px;
      padding-right: 90px;
      border: 1px solid #979aa4;
      .headerDropDownIcon {
        position: relative;
        left: 70px;
      }
    }
    .envMenuWrapper {
      margin-left: auto;
    }
    .headerLogo {
      width: 60px;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      & > img:nth-child(1) {
        width: 30px;
        height: 30px;
      }
    }

    div:nth-child(2) {
      margin-right: 75px;
      font-size: 16px;
      font-weight: 500;
    }

    .userAvatar {
      width: 100px;
      //margin-right: 70px;
      margin-left: auto;
      display: flex;
      align-items: center;
      //width: 100%;
      //justify-content: flex-end;
      position: relative;
      top:1px
    }
    .userAvatarIcon {
      position: relative;
      top: 1px;
      left: 3px;
    }
  }
  .MenuTop {
    height: 52px;
    background-color: white;
    border-bottom: 1px solid #dcdee5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  //   .siteLayoutBackground {
  //     background-color: red;
  //   }
}

.headerLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  color: #8d919c;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.headerLinkNohover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  color: #8d919c;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.headerLink:hover {
  background: #121925;
}

:global {
  .ant-layout-sider-has-trigger {
    position:fixed;
    height: 100%;
  }
  .ant-pagination {
    color: rgba(0,0,0,0.65) !important;
  }
  .ant-btn {
    color: rgba(0,0,0,0.65);
  }
  .ant-btn-primary{
    color: #fff;
  }
  .ant-menu { 
    color: rgba(0,0,0,0.65);
  }
  .ant-select {
    color: rgba(0,0,0,0.65) !important;
  }
  .site-layout .site-layout-background {
    // background: #fff;
    background-color: #192132;
    color: white;
    height: 60px;
  }
  #components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-layout-sider-trigger {
    background: #fff;
    color: black;
    font-size: 18px;
    border-right: 1px solid #d7d9e1,
  }
  .ant-layout-sider-children {
    background: #171e2b;
  }
  // .site-layout .site-layout-background {
  //   background: #fff;
  //   height: 50px;
  // }

  // 修改antd menu的原生选中样式
  // 选中文字的颜色
  // .ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  //   background-color: #192031;
  //   color: #fff;
  // }
  // .ant-layout-sider {
  //   background-color: #2e4254;
  // }
  // .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  //   background-color: #4a6782;
  //   color: #36bebc;
  // }

  // .ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover {
  //   color: #36bebc;
  // }
  // .ant-menu-dark .ant-menu-item:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-item-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-title:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-item:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-item-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-title:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before {
  //   background-color: #36bebc;
  // }
  // .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a {
  //   color: #fff
  // }
  // .ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon, .ant-menu-dark .ant-menu-item-selected .anticon {
  //   color: #36bebc;
  // }
  // .ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span, .ant-menu-dark .ant-menu-item-selected .anticon + span {
  //   color: #36bebc;
  // }
  // .ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow {
  //   opacity: 1;
  // }
  .ant-spin-nested-loading {
    //height: 100%;
    width: 100%;
  }
  .ant-spin-container {
    //height: 100%;
    width: 100%;
  }

  // search 的搜索
  .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
    padding-top:1px
  }
}
